/* .justify-content-right{
    justify-content: right!important;
    float:right;
} */
img{
    height:600px;
    width:50px;
}

.tales {
    width: 100%;
}
.carousel-inner{
    width:100%;
    max-height: 100% !important;
}
.slide{
    width:100%;
    height:100%;
}
h2{
    
    text-align: center;
    color:rgba(0,0,0,0.65);
}
.img-thumbnail{
    
    width:500px;
}
h6{
    text-align:center;
    color:rgba(0,0,0,0.65);
}
.img-thumbnail:hover{
    opacity:0.3;
}
hr{
	width:800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.65);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .bg-light{
    background-color: rgb(96, 207, 122);
}
.left{
    float:left;
    margin:20px;
    border:1px solid rgb(96, 207, 122);
    color:rgba(0,0,0,0.85);
    padding:25px;
    
}

li{
    margin:8px;
}
.right{
    float:right;
    border:1px solid rgb(96, 207, 122);
    margin:20px;
    padding:65px;
    

}



  
 