/* .justify-content-right{
    justify-content: right!important;
    float:right;
} */
img{
    height:600px;
    width:50px;
}

.tales {
    width: 100%;
}
.carousel-inner{
    width:100%;
    max-height: 100% !important;
}
.slide{
    width:100%;
    height:100%;
}
h2{
    
    text-align: center;
    color:rgba(0,0,0,0.65);
}
.img-thumbnail{
    
    width:500px;
}
h6{
    text-align:center;
    color:rgba(0,0,0,0.65);
}
.img-thumbnail:hover{
    opacity:0.3;
}
hr{
	width:800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.65);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .bg-light{
    background-color: rgb(96, 207, 122);
}
.left{
    float:left;
    margin:20px;
    border:1px solid rgb(96, 207, 122);
    color:rgba(0,0,0,0.85);
    padding:25px;
    
}

li{
    margin:8px;
}
.right{
    float:right;
    border:1px solid rgb(96, 207, 122);
    margin:20px;
    padding:65px;
    

}
.justify-content-center{
    margin-top:70px;
    background-color:rgba(172, 230, 215, 0.75);

}
.justify-content-center li a{
    color:rgba(0,0,0,0.695);
    
}
.slide{
    margin-top:20px;
}
.bg-custom {
     background-color:rgba(230, 216, 245, 0.781);
  }
  /* rgba(230, 216, 245, 0.911) */

/* rgba(230, 216, 245, 0.781) */

.bg-custom:hover{
    background-color:rgba(230, 216, 245, 0.99);
}

/* background-color:rgba(230, 216, 245, 0.925); */
.co {
    position: relative;
}

  
.text-block {
    position: absolute;
    bottom: 270px;
    right: 100px;
    left:100px;
    text-align:center;
    background-color:rgba(230, 216, 245, 0.781); 
    color: rgb(155, 86, 187);
    padding-left: 20px;
    padding-right: 20px;
    /* margin:300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  } /* Bottom right text */
  
.about2{
    background-color:rgba(172, 230, 215, 0.75);
    margin:35px 0;
}
.about2 h5{
    text-align: center;
    font-weight: 550;
    padding: 15px 50px;
    color:rgb(113, 111, 235);
}